html {
            color: #fff;
        }

        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #1b1b1d;
            box-sizing: border-box;
        }

        h1 {
            justify-self: center;
        }

        .todo-elements {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            margin-left: 10px;
            background-color: #f5ee62;
            padding: 0.6rem 2.4rem;
            border-radius: 10rem;
            margin-right: 3.6rem;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover {
                box-shadow: inset 0 0 0 0.2rem #f5ee62;
                background-color: transparent;
                color: #f5ee62;
            }
        }

        input {
            margin-right: 10px;
            background-color: #fff;
            height: 2.5rem;
            width: 25%;
            border-radius: 30px;
            border-color: none;
            border-width: 4px;
            padding-left: 1rem;
            
            &:hover {
                border-color: #f5ee62;
                transition: all 0.3s linear;
            }
        }

        input::placeholder {
            color: gray;
            font-size: 14px;
            font-style: italic;
            padding: 20px;
        }

        section {
            justify-self: center;
        }
        .main_todo_div{
            display: grid;
            grid-template-columns: 1fr 0.3fr;
            align-items: center;
            height: auto;
            margin-top: 1rem;
        }