body {

            width: 100%;
            height: 100vh;
            background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf73, #a8eb12);
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .btnContainer {
            /* display: flex;
            justify-content: space-around;
            align-items: center; */

            display: flex;
            justify-content: center;
            gap: 40px;
            margin-bottom: 30px;
        }

        .copyCode {
            /* border: 1px rgb(89, 65, 65);
            height: fit-content;
            width: fit-content; */

            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            margin: 0 auto;
            width: fit-content;
            border-radius: 15px;
            font-family: monospace;
            color: white;
            font-size: 16px;
            backdrop-filter: blur(4px);
            cursor:pointer;
        }

        button {
            padding: 15px 30px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
            color: white;
            transition: transform 0.3s;
        }

        #myBtn1 {
            background-color: aquamarine;
            box-shadow: turquoise;
        }

        #myBtn2 {
            background-color: hotpink;
            box-shadow: wheat;
        }

        .btnContainer button:hover {
            transform: scale(1.05);
        }

        h2 {
            font-size: 20px;
            margin: 20px 0;
            font-weight: 600;
            color: white;
            justify-self: center;
        }